extends layout

block content
    h1= "Welcome " + userName
    h3= "List of your polls"
    ul#poll-list

block scripts
    script(type="text/javascript").
        const chartArray = !{JSON.stringify(charts)};
    script(src="/static/scripts/pollList.js", type="text/javascript")