extends layout

block content
    h1= 'Results of "' + title + '"'
    table#results.table.table-striped.table-bordered

block scripts
    script(type="text/javascript").
        const chart = !{JSON.stringify(chart)};
    script(src="/static/scripts/results.js", type="text/javascript")