extends layout

block content
    .container.flex-center-column
        form(action="/polls/"+ id +"/vote" method="POST")
            .form-group
                h1 #{title}
                .vote-options.flex-column
                button.btn.btn-primary Vote

block scripts
    script(type="text/javascript").
        const chartOptions = !{JSON.stringify(options)};
    script(src= "/static/scripts/vote.js", type= "text/javascript")