.flex-center-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-center-column-item-right {
    align-self: flex-end;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.chart {
    padding-top: 100px;
}

.card {
    border: 1px solid #94949d;
    border-radius: 5px;
    margin-bottom: 5px;
}

.card-block {
    padding: 5px 15px 5px 15px;
}

.full-width {
    width: 100%;
}

.checked {
    background-color: #1db22c;
}

.h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}